@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <title>ShareIt - Datos Personales</title>
    <link href="~/Resources/css/adminlte.css" rel="stylesheet" />
    <script src="~/Resources/js/jquery-3.6.0.min.js"></script>
    <script src="~/Resources/js/adminlte.js"></script>
    <script src="~/Resources/js/adminlte.min.js"></script>
    <script src="~/Resources/js/bootstrap/js/bootstrap.js"></script>
    <link href="~/Resources/css/fontawesome-free/css/all.css" rel="stylesheet" />
    <script src="~/Resources/js/Publicacion.js"></script>
</head>
<body>
    <input type="text" id="ipIdUsuario" value="@Session["idUsuario"]" />
    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div>Por favor rellena tus datos personales.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
