@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>ShareIt - Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/Resources/Login/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/Resources/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Resources/Login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Resources/Login/css/main.css">
    <script src="~/Resources/js/jquery-3.6.0.min.js"></script>
    <script src="~/Resources/js/Login.js"></script>
</head>
<body style="background-color: #666666;">

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form validate-form">
                    <span class="login100-form-title p-b-43">
                        Iniciar sesión para continuar
                    </span>


                    <div id="validacionIpEmail" class="wrap-input100 validate-input" data-validate="El correo no es válido.">
                        <input id="ipUsuario" class="input100" type="text" name="email" onkeyup="validarEmail($('#ipUsuario').val());">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Email</span>
                    </div>


                    <div id="validacionIpPassword" class="wrap-input100 validate-input" data-validate="Se necesita una contraseña">
                        <input id="ipPassword" class="input100" type="password" name="pass">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Password</span>
                    </div>

                    <div class="flex-sb-m w-full p-t-3 p-b-32">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                Remember me
                            </label>
                        </div>

                        <div>
                            <a href="#" class="txt1">
                                Forgot Password?
                            </a>
                        </div>
                    </div>


                    <div class="container-login100-form-btn">
                        <button id="btnLogin" onclick="validarLogin();" class="login100-form-btn">
                            Ingresar
                        </button>
                    </div>
                    <div>
                        <p style="text-align: center;">o</p>
                    </div>
                    <div class="container-login100-form-btn">
                        <button id="btnLogin" onclick="window.location.href = 'Registrate';" class="login100-form-btn">
                            Registrate aquí
                        </button>
                    </div>

                    <div class="text-center p-t-46 p-b-20">
                        <span class="txt2">
                            or sign up using
                        </span>
                    </div>

                    <div class="login100-form-social flex-c-m">
                        <a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
                            <i class="fa fa-facebook-f" aria-hidden="true"></i>
                        </a>

                        <a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>

                <div class="login100-more" style="background-image: url('/Resources/Login/images/bg-01.jpg');">
                </div>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal" style="pointer-events: none; z-index: 99999">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="loader" id="loader">Cargando...</div>
        </div>

    </div>
    <style>
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 150px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            margin: auto;
            padding: 0px;
            width: 15%;
        }
    </style>


    <!--===============================================================================================-->
    <script src="~/Resources/Login/js/main.js"></script>

</body>
</html>